<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <title>Event Page</title>
    </head>
    <body>
        <div id="header">
            <h1>Calendar Event Creation</h1>
        </div>
        <div id="main">
            <form action="/events" method="POST">
                <input type="text" placeholder="Test" name="test">
                <input type="text" placeholder="Test" name="test2">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="footer">
            <p>This is the footer</p>
        </div>
    </body>
</html>