<html>
    <head>
        <title>Event Submitted!</title>
    </head>
    <body>
        <h1 style="text-align: center;">Event entered successfully!</h1>
        <ul>
            <h2>Items entered:</h2>
            <li><%= item1 %></li>
            <li><%= item2 %></li>
        </ul>
    </body>
</html>