body{
  margin: 0px;
  min-height: 100%;
  background-color: #40C9A2;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
  ". header ."
  ". main .";
}
#inner{
  min-height:100%;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "name address"
  "date ."
  "startT endT"
  "submit .";
}

@media only screen and (max-width: 750px){
  body{
    min-height: 100%;
    grid-template-areas:
    "header"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
  }
  #inner{
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "name"
    "address"
    "date"
    "startT"
    "endT"
    "submit";
  }
}

#header {
  background-color: #A3F7B5;
  grid-area: header;
}

#main{
  background-color: #E5F9E0;
  grid-area: main;
}

#ename{
  grid-area: name;
}  

#address{
  grid-area: address;
}

.date{
  grid-area: date;
}

#startT{
  grid-area: startT;
}

#endT{
  grid-area: endT;
}

#submit{
  grid-area: submit;
  grid-column-start: 1;
  grid-column-end: 3;
}
