body{
  margin: 0px;
  min-height: 100%;
  background-color: #40C9A2;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
  ". header ."
  ". main .";
}
#inner{
  padding-top: 30px;
  grid-row-gap: 30px;
  min-height:100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "name" 
  "address"
  "date" 
  "startT"
  "duration" 
  "submit";
}

label {
  float: left;
  width: 180px;
}

input {
  height:30px;
  float: left;
  width: calc(100% - 200px);
  padding-right: 20px;
}

@media only screen and (max-width: 750px){
  body{
    min-height: 100%;
    
    grid-template-areas:
    "header"
    "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
  }
  #inner{
    padding-top: 20px;
    grid-row-gap: 20px;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "name"
    "address"
    "date"
    "startT"
    "duration"
    "submit";
  }
}



#header {
  background-color: #A3F7B5;
  grid-area: header;
}

#main{
  background-color: #E5F9E0;
  grid-area: main;
}

#ename{
  grid-area: name;
}  

#address{
  grid-area: address;
}

.date{
  grid-area: date;
}

#startT{
  grid-area: startT;
}

#duration{
  grid-area: duration;
}

#submit{
  grid-area: submit;
}
